BOT_TOKEN=
PUBLIC_URL=
SPREADSHEET_ID=1KAVMKdT3Jn7kzZTCFaqTm2EGFxfG_5ou6n0PezeJSig
GOOGLE_CREDENTIALS=
CLUB_CHAT_URL=https://t.me/+mEkZr6wcpko4NmUy
DEFAULT_USDT_AMOUNT=80
TIMEZONE=Asia/Bangkok
ADMIN_IDS=
NODE_ENV=production
MATCHES_SPREADSHEET_ID=
LEAGUE_CHAT_ID=
MATCH_HORIZON_DAYS=21
